:host {
  display: block;
  padding: 4px;
  width: 400px;

  .address {
    position: relative;

    &-pane {
      background: white;
      box-shadow: -2px 10px 9px 0px #00000052;
      border-radius: 5px;
      border: 1px solid #ececec;
      max-height: 500px;
      overflow-y: auto;
      margin-top: -18px;
      position: absolute;
      width: 100%;
      top: 66px;
      left: 0;

      &-item {
        padding: 10px 8px;
        cursor: pointer;

        &:hover {
          background: #ececec;
        }
      }
    }
  }

  mat-form-field {
    width: 100%;
  }
}
